@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Electrolize;
    src: url(fuentes/Electrolize/Electrolize-Regular.ttf);
}

//Seteo de variables
$blanco:#fff;
$color-main:#040C11;
$opacidad:0.25;
$color-links:#077187 ;
$color-titulo:#5C8374;
$colorMainLight:#223a31;
$color-negro:#000;
$heightBtnNav:36px;
$color-copy:#93B1A6;
$color-links:#077187 ;
$color-border:rgb(4, 79, 88);
$color-cartasNoti:#2c2c2c;
$color-cartasNos:#18181B;
$color-btnsA:rgb(7, 114, 135) ;
$color-btnsB:rgb(0, 134, 100);
$colorMarca:#00A4D3;
$transpBtnForm:0.25;
$clickBtnDesp:1;

body{
  z-index: 0;
    font-family: "Titillium Web";

}
.main{  
  z-index: 0;
    width: 100%;
    color: $blanco;
    background-image:linear-gradient(to bottom left, $color-negro,$color-main);
    transition: 1s;
}

//header
header{
    margin: 0;
    background-color: transparent;
    width: 100%;
}

#navDesp{
  z-index: 999;
    animation: aparecerNav 1s;
    background-color: rgba(255, 255, 255,3*$opacidad);
    transition: 1s;
    height: $heightBtnNav+15+15;
    width: 100%;
  }
  @keyframes aparecerNav{
    0%{
      opacity: 0;
      margin-top: -300px;
    }
    100%{
      opacity:1;
      margin-top: 0;
    }
}
#navDesp:hover{
    background-color: rgba(255, 255, 255,4*$opacidad);
}
.tituloPag{
    font-family: "Electrolize";
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.navbar-nav{
    gap: 30px;
}
.itemNav{ 
    background-image: linear-gradient(to left, $color-btnsA,$color-btnsB);
    color: white;
    border-radius: 5%;
    align-items: center;
    height:$heightBtnNav;
    opacity: 0.50;
    transition: 1s;
  }
  .itemNav:hover{
    color: white;
    filter: brightness(1.2);
    filter: blur(2);
    opacity: 1;
  }
  .activo{
    opacity: 1;
    scale: 1.1;
  }
  .collapse{
    height: 100vh;
  }
  //modoDarkOGreen
  .cambioBack {
    position: fixed;
    left: 92%;
    top: 40%;
    z-index: 9999;
    display: none;
}

#labelCambioBack{
    position: fixed;
    left: 92%;
    top: 30%;
    z-index: 9998;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    transition: 1s;
}

.cambioBack:checked ~ .main {
    background-image: linear-gradient(to top left, $colorMainLight, $color-main);
    filter: brightness(1.1);
}

#labelCambioBack:hover {
    transform: scale(1.1);
}
  //banner
  .subTitPag{
    font-family: "Electrolize";
    color: $color-titulo;
  }
  .cartaBanner{
    animation: aparecer 1s;

    max-width: 600px;
    background-color: rgba(0, 0, 0, $opacidad*2);
    border: 2px solid $color-border;
    border-radius: 5px;
    left: 30%;
    margin: 0;
    text-align: center;
    padding: 30px;
    min-width: 100px;
  
  }
  @keyframes aparecer {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .jumbotron{
    width: 100%;
    background-image: url("./imagenes/imgBanner.png");
    background-attachment: fixed;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parrafoBanner{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .tituloBanner{
    margin-bottom: 5px;
    font-size: 35px;
  }
  .btnBanner{
    z-index: 999;
    text-decoration: none;
    color: $blanco; 
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left, $color-btnsA,$color-btnsB);
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
  }
  .btnBanner:hover{
      opacity:1;
      color: $blanco;
      text-decoration: none;
      filter: brightness(1.2);
      filter: blur(2);
  }
  .carousel{
    background-color: transparent;
  }
#carousel{
  width: 60%;
    background-color: transparent;
  }
  .carousel-item{
    background-color: transparent;
  }
.carousel-inner{
  padding-left:9%;
  background-color: transparent;
}
.backTransp{
  background-color: transparent;
}
.tituloCarouselInicio{
  color: #000;
}
.imgCarousel{
  min-width: 30%;
  min-height: 30%;
  max-width: 90%;
  max-height:90%;
  padding: 10px;
  background-color: transparent;
}
.carousel-inner{
  justify-content: center ;
}
.seccionProductosHome{
  display: flex;  
  justify-content: center;
  width: 100%;
}
.cardsProductosHome {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.cardProductoHome {
  max-width: 400px;
  border-radius: 5px;
  background-image: linear-gradient(to left, #263133, #0e2529);
  margin: 20px; 
}

.imgCardProductoHome {
  width: 100%;
  height: 50%;
}

.imgCardProductoHomeUKC {
  width: 100%;
  height: 50%;
}

.tituloCardProductoHome {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.btnProductoHome{
  text-decoration: none;
  color:$color-links;
  text-transform: uppercase;
  position: relative;
  top: 10%;
}

  .nosotrosHome{
    margin-bottom: 20px;
      text-align: center;
  }

  .btnVerMasHome{
    text-decoration: none;
    color: $color-links;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
  }
  .btnVerMasHome:hover{
    color: $blanco;
    filter: brightness(1.2);
    
    background-image: linear-gradient(to left,$color-btnsA, $color-btnsB) ;

  }

  .nosotrosHome #parrafoNosotrosHome{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px
  }
  .contactoHome{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tituloFl{
    font-size: 40px;
    font-weight: 400;
    margin-top: 150px;
    font-family: electrolize;
    max-width: 400px;
    margin-bottom: 40px;
    color: $color-titulo;
  }

  #imgFl{
    max-height: 350px;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.5;
    min-height:auto;
  }
  .btnFl{
    margin-left: 80px;
    color: var(--color-links);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
  }
  .btnFl:hover{
    color: white;
    filter: brightness(1.2);
    
    background-image: linear-gradient(to left, var(--color-btnsA), var(--color-btnsB)) ;
  }
  .tituloBtnFl{
    margin-left: 40px;
  }
  .seccionNovedadesHome{
text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
  }
//Atributos globales


.cartasNoticiasFlex{
  width: 100;
  display: grid;
  justify-content: space-around;
  padding: 30px;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}
.row{
  gap: 30px;
}
.cartaNoticia{
 max-height: 400px;
  background-color: $color-cartasNoti;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: grid;
  grid-auto-rows: minmax(5px, auto);
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
#noticia1{
  grid-row:1 ;
  grid-column: 1/3;
}
#noticia2{
  grid-column: 3;
  grid-column: 3/7;
}
#noticia3{
  grid-row: 2;
  grid-column: 1/4;
}
#noticia4{
  grid-row: 2;
  grid-column: 4/7;
}
.imagenNoticia{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1/3;
}
.contenidoNoticia{
  width: 100%;
  grid-row:2/3;
}
.fechaNoticia{
  font-weight: 250;
  opacity: 0.8;
  margin-top: 20px;
 grid-column: 1;
}
.tituloNoticia{
  grid-column: 1;
}
.tituloCentradoPrincipal{
  font-size: 40px;
  text-align: center;
  font-family: electrolize;
  margin-bottom: 30px;
  margin-top: 100px;
}

.divisionSecciones{
  border-style:solid ;
  border: 0.7px solid transparent;
  border-image: linear-gradient(to left,$color-main,$color-titulo,$color-main)0.7;
}
.tituloSeccion{
  color: $color-titulo;
  font-size: 35px;
  font-weight: 400;
  font-family: Electrolize;
  margin-bottom: 20px;
  text-align: center;
  z-index: 800;
}
.parrafoFl{
  max-width: 350px;
  font-size: 17px;
  margin-bottom: 10px;
}

.divisionContenidoTit{
  border-style:solid ;
  border: 0.7px solid transparent;
  border-image: linear-gradient(to left,$color-main,$color-titulo,$color-main)0.7;
}
//toast
.btnVerMasToast{

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  background-image: linear-gradient(to left, $color-btnsA, $color-btnsB) ;
  border-radius: 5px;
  opacity: 0.75;
  color: black;
  transition: 0.5s;
}
.btnVerMasToast:hover{
  opacity: 0.75;
  color: white;
  text-decoration: none;
}
//footer
footer{
  background-color: transparent;

  color:#fff;
  padding: 5px;
  padding-top: 0px;
  z-index: 0;
}
.redesFooter{
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 00px;
  text-align: center;
}
.linkRedes{
  color: white;
  text-decoration: none;
  padding: 5px;
}
.divisionFooterMain{
  border-style: solid;
  border:0.7px solid transparent;
  border-image: linear-gradient(to left,#040C11 ,#183d3d,#040C11)0.7;
}

.contenidoFooter{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navFooter{
  list-style: none;
}
.liNavFooter{
  margin-top: 20px;
}
.linkNavFooter{
  text-decoration: none;
  color: $color-links;
  text-transform: uppercase;
}
.linkRedes .bi{
  font-size: 20px
}
.copy{
  color: $color-copy;
  font-weight: 200;
  text-align: center;
  margin: 20px;
}

.tituloTextoFl{
  margin-left: 60px; 
  margin-top: 5%;
  animation: aparecerTitPrinc 1s;
}

//atributosGlobales
.tituloFlInicio{
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: electrolize;
  max-width: 550px;
  min-width: 300px;
  color: var(--color-titulo);
}
.imgTextFlex{

  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.imgFlInicio{
  max-width: 900px;
  margin-left: 50px;
  min-width: 300px;
  animation: aparecerImgPrinc 1s;
}





/* Atributos especialmente para Nosotros*/
.linkFlInicio{
  text-transform: uppercase;
  color: $blanco;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; 
  margin-left: 20px;
  background-image: linear-gradient(to left,$color-btnsA, $color-btnsB) ;
  opacity:0.5;

  transition:0.5s ;
}
.linkFlInicio:hover{
  color: white;
  opacity: 1;
  text-decoration: none;

}
#registradoSimbolo{
  font-size: 0.7em;
  vertical-align: super;
  position: relative;

}
#certificacionInicio{
  text-transform: uppercase;
  font-weight: 300;
}
#certificacionInicio .bi {
  color:$colorMarca ;

}

.textoNosotrosImg .textoImg{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content:space-evenly ;
  margin-top: 30px;
  align-items: center;
}
.textoImg .parrafo{
  max-width: 500px;
  font-size: 20px;
}
.textoImg .imagen{
  max-width: 700px;
  min-width: 200px;
}
.marcasAsociadas{
  margin-top: 100px;
  margin-bottom: 100px;

}

.marcasAsociadas .imagenesMarcas{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}
.imagenesMarcas .marcaAsociada{
  max-width: 200px;
  max-height: 60px;
}
.seccionNosotrosItems{
  margin-top: 100px;
}
.cartasItemsNosotros{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.cartasItemsNosotros .cartaItem{
  background-color:$color-cartasNos;
  max-width:500px;
  border-radius: 20px;
  text-align: center;
  justify-content: space-around;
  padding: 4px;
  margin-top: 20px;
}

.iconoItem{

  font-size: 50px
}
#iconoCpu{
  color: #006E8C;

}
#iconoComunidad{
  color: #4C7A34;
}
#iconoBrazoRobot{
color: #077187;
}
#iconoEco{
  color: #4C7A34;
}

//Estilos especialmente de contacto
.formularioContacto{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
.inputsNombreCorreo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.inputForm{
  margin-top: 40px;
  height: 50px;
  max-width: 700px;
  min-width: 300px;
  border-radius: 5px;
  background-color: #000;
  color: white;
  border: 1px transparent;
  border-bottom: 2px $color-links solid;
}
.inputForm:focus{
  box-shadow: 0 0 60px  $color-links;

  border:none;
  
}
#mensaje{
  border-radius: 5px;
  min-width: 300px;
  background-color: #000;
  color: white;
 
  border: 2px solid $color-border;
}
#mensaje:focus{
  box-shadow: 0 0 60px  $color-links;
}
#apellido{
  margin-bottom:40px ;
}
#aceptar:focus{
  background-color: #000;
  color: $color-links;
}
#enviar{
  border-radius:5px ;
  padding: 5px;
  background-color:rgb(0, 97, 60,$transpBtnForm*1) ;
  color: white;
  border: none;
  transition: 0.7s;
}
#enviar:hover{
  background-color:rgb(0, 97, 60,$transpBtnForm*4)  ;
  transform: scale(1.1);
}
.botonesSubmitCancel{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#cancelar{
  background-color:rgb(109, 0, 0,$transpBtnForm*1);
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition: 0.7s;
}
#cancelar:hover{
  background-color:rgb(197, 0, 0,$transpBtnForm*4);
  transform: scale(1.1);
}
//Atributos especiales para novexdades
.margenTop{
padding-top: 100px;
}
.tituloSuscripcion{
  margin-left: 50px;
  font-family: Electrolize;
  font-size: 30px;
  color: $color-titulo;
  margin-bottom: 20px;
}
.seccionSuscripcion{
  margin-bottom: 50px;
  margin-top: 50px;
}
.formularioSuscripcion{

  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  background-image: linear-gradient(to left, rgba(24, 61, 61,0.60),rgba(92, 131, 116,0.43),rgb(4, 12, 17));
}
.formularioSuscripcion #inputCorreo{
  width: 80%;
  height: 40px;
  border-radius: 5px;
}
#btnSuscripcion{
  max-width: 200px;
  height: 35px;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #5C8374 ;
  color: white;
  border: 1px solid transparent;
}


    /*Estilos especialmente de catalogo*/
  .bodyCatalogo{
    font-family: "Titillium Web";
    background-image:linear-gradient(to bottom right, $color-negro,$color-main) ;
  }
    #producto{
      width: 50%;
      background-color: transparent;
    }
    .productos{
      z-index: 990;
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      width: 100%;
    }
    .imgCarouselProd{
      width: 100%;
      filter: grayscale(100);
      transition: 0.5s;
    }
    .imgCarouselProd:hover{
      filter: grayscale(0);
    }
    .carousel-indicators{
      justify-content:center ;
      gap: 10px;
    }
    .carousel-indicators{
      justify-content: center;
      margin-bottom: -50px;
      border-radius: 5px;
    }
    #kc-400 {
      background-color: rgba(0, 0, 0, 0.5); /* Fondo de la capa detrás del modal */
  }
    .active{
      background-color: #fff;
      color: $color-negro;
    }
    .btnCarousel{

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom:5px;
      color: #00aeff;
    }
    .btnCarousel:hover{
      text-decoration:none ;
    }
    .btnsProductos{
      display: flex;
      flex-direction: row;
      flex-flow: row nowrap;
      justify-content: center;
      list-style: none;
    }
   .modelo{
      border: none;
      height: 40px;
      padding-left:5px;
      padding-right: 5px;
      width: 150px;
      color: $blanco;
      background-color: transparent;
      border-radius: 5px;
    }
   #kc-400{
      background-color: $blanco;
      color: black;
    }
    .slide{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 50%;
    }

    .tituloSlide{
      max-width: 200px;
      font-size: 20px;
      font-family: Electrolize;
    }
    .tituloTextoSlide{
      display: flex;
      flex-direction: column;
      flex-flow: column  nowrap;
      justify-content: space-evenly;
    }
    .footerCatalogo{
      background-image:linear-gradient(to top right, $color-negro,$color-main) ;
    }






















// medias
@media (max-width:350px){
    .imgTextFlex{
      min-width: 100px;
    }
    .tituloFlInicio{
      font-size: 16px;
    }
    .parrafo{
      min-width: 200px;
    }
    .imagenesMarcas{
      min-width: 150px;

    }
    .marcaAsociada{
      min-width: 50px;
      margin-top: 20px;
    }
    .tituloPag{
      font-size: 20px;
    }
  }

  @media (max-width:500px){
    #labelCambioBack{
      left: 80%;
      font-size:14px;
    }
    .parrafo{
      margin: 0;
      padding:15px;
    }
    .carousel-indicators{
      margin:0 ;
      gap: 5px;
      position: inherit;
      flex-flow: column;
    }
    #productos{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .slide{
      width: 70%;
    }
    .btnCarousel{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width:540px){
    .indProducto{
      flex-flow: row wrap;
    }
  }
    @media (max-width:675px){
      #imgFl{
        min-width:100px;
      }
      .cartasNoticiasFlex{
        display: flex;
        flex-direction: column;
      }
      .cartaNoticia{
        max-height: 400px;
      }
      .imagenNoticia{
        max-height: 400px;
      }
      .tituloFlInicio{
        font-size: 30px;
      }

    }
    @media (max-width:766px){

      .activo{
        width: 100%;
        scale: 1.0;
      }

      #navDesp{
        height: auto;
        align-items: center;
      }

      .itemNav{
        border-radius: 5px;
        justify-content: center;
      }
      .navbar-nav{
        justify-content: center;

      }
      .navbar-collapse {
        opacity: 0;
        transition:0.5s ;
    }
      .show{

        opacity: 1;
      }
      .nav-item{
        width: 95%;
        border-radius: 5px;
        justify-content: center;
      }
    }
    @media  (max-width: 843px) {
    .jumbotron{
      justify-content: center;
    }
    
  #labelCambioBack{
    left: 85%;
    font-size: 15px;
  }
    #carousel{
      width: 90%;
    }
    .tituloCarouselInicio{
      font-size: 18px;
      color: #000;
    }

    .carousel-caption{
      margin: 0px;
      padding: 0px;
    }
    .imgTextFlex{
      min-width: 100px;
    }
    }
    @media (max-width:850px) {
      .btnCarousel{
        max-width: 300px;
        min-width: 100px;
        padding: 3px;
      }

      .imgCatalogo{
        width: 80%;
      }
    }
    @media (max-width:950px){
      .imgTextFlex{
        flex-wrap: wrap;
        margin-top: 30px;

        margin-left: 0;
      }
      .imgFlInicio{
        min-width: 100px;
      }
      .tituloTextoFl{
        min-width: 200px;
        justify-content: center;
      }
    }
    @media (max-width:1051px){
      .cartaNoticia{
        max-height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
      }
    }
    @media (max-width:1300px) and (min-width:950px){
      .tituloFlInicio{
        font-size: 39px;
      }
      .tituloTextoFl{
        min-width: 300px;
  
      }
    }
    @media (max-width:1460px) and (min-width:600px){
      .tituloCarouselInicio{
        font-size: 22px;
        color: #000;
      }
    }